* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

section {
  padding: 50px 0 0;
}

img {
  width: 100px;
  object-fit: fill;
}

span {
  color: #999999;
}

.max-width {
  max-width: 100%;
  padding: 0 10px;
  margin: auto;
}

section .title {
  position: relative;
  text-align: center;
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 60px;
}

section .title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 80%;
  height: 3px;
  background: black;
  transform: translateX(-50%);
}

section .title::after {
  content: "Cơm Dĩa";
  position: absolute;
  bottom: -25px;
  left: 50%;
  font-size: 35px;
  color: black;
  padding: 10px 25px;
  background: white;
  transform: translateX(-50%);
}

section .title1 {
  position: relative;
  text-align: center;
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 60px;
}

section .title1::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 80%;
  height: 3px;
  background: black;
  transform: translateX(-50%);
}

section .title1::after {
  content: "Bánh Mì";
  position: absolute;
  bottom: -25px;
  left: 50%;
  font-size: 35px;
  color: black;
  padding: 10px 25px;
  background: white;
  transform: translateX(-50%);
}

section .title2 {
  position: relative;
  text-align: center;
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 60px;
}

section .title2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 80%;
  height: 3px;
  background: black;
  transform: translateX(-50%);
}

section .title2::after {
  content: "Bún Phở (Món Nước)";
  position: absolute;
  bottom: -25px;
  left: 50%;
  font-size: 35px;
  color: black;
  padding: 10px 25px;
  background: white;
  transform: translateX(-50%);
}

.product-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.product-service {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
  width: 33.33%;
  float: left;

}